<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee Management</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
	<div th:include="navigation"></div>
		<div class="card">
			<div class="card-header text-primary text-center">
				<h1>Employee Management</h1>
			</div>
			<div class="card-body">
				<h3>Add Employee</h3>
				<form th:action="@{/employee/save}" method="post" th:Object="${employee}">
					<div class="form-group">
						<label for="empName">Name:</label>
						<input type="text" class="form-control" placeholder="Enter Name" th:field="*{empName}"
							id="empName">
					</div>
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" class="form-control" placeholder="Enter email" th:field="*{empEmail}"
							id="empEmail">
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label>
						<input type="text" class="form-control" placeholder="Enter Phone" th:field="*{empPhone}"
							id="empPhone">
					</div>
					<div class="form-group">
						<label for="empGender">Gender:</label><br />
						<input type="radio" th:field="*{empGender}" value="female" id="empGender" selected> Female
						<br />
						<input type="radio" th:field="*{empGender}" value="male" id="empGender"> Male
					</div>
					<div class="form-group">
						<label for="empJoinDate">Joining Date:</label>
						<input type="date" class="form-control" placeholder="Enter mm/dd/yyyy" th:field="*{empJoinDate}"
							id="empJoinDate">
					</div>
					<div class="form-group">
						<label for="empDept">Department:</label>
						<select class="form-control" th:field="*{empDept}">
							<option value="">Select Department</option>
							<option th:each="dept:${depts}" th:value="${dept.deptId}"
								th:text="${dept.deptName}+' ('+${dept.deptCode}+')'" />
						</select>
					</div>
					<div class="form-group">
						<label for="empHobbies">Hobbies:</label><br />
						<span th:each="hobby:${hobbies}">
							<input type="checkbox" th:field="*{empHobbies}" th:value="${hobby}" />
							<label for="empHobbies">[[${hobby}]]</label> <br />
						</span>
					</div>
					<button type="submit" class="btn btn-primary">Create</button>
				</form>
			</div>
			<div card="card-footer"></div>
		</div>
	</div>
</body>

</html>